.svn
*.user
*.suo
*.vspscc
*.sdf
*.opensdf
/Debug
/Release
/NoAacMp4
/ext_libs/Debug
/ext_libs/Release
/ext_libs/NoAacMp4
/ext_libs/*.exp
/ext_libs/*.lib
/exportloop/Debug
/exportloop/Release
/exportloop/NoAacMp4
/fb2k/Debug
/fb2k/Release
/fb2k/NoAacMp4
/test/Debug
/test/Release
/test/NoAacMp4
/src/Debug
/src/Release
/src/NoAacMp4
/winamp/Debug
/winamp/Release
/winamp/NoAacMp4
